@*
 * FILE: InvalidUser.razor
 * PURPOSE: Frontend web component.
 * COMMUNICATES WITH: None
*@
@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>

<h3>Invalid user</h3>

<StatusMessage />

