@implements IDisposable
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="admin/dashboard">HMS Admin</a>
    </div>
</div>


<div class="nav-scrollable">
    <nav class="nav flex-column">
        @using Radzen.Blazor
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/dashboard">
                <RadzenIcon Icon="dashboard" Style="margin-right: 10px;" /> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/staff">
                <RadzenIcon Icon="people" Style="margin-right: 10px;" /> Staff Registry
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/finance">
                <RadzenIcon Icon="attach_money" /> Financials
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/facilities">
                <RadzenIcon Icon="meeting_room" /> Facilities
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/admissions">
                <RadzenIcon Icon="local_hospital" Style="margin-right: 10px;" /> Admissions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/settlements">
                <RadzenIcon Icon="payments" Style="margin-right: 10px;" /> Settlements
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/shift-report">
                <RadzenIcon Icon="assessment" Style="margin-right: 10px;" /> Shift Reports
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <RadzenIcon Icon="logout" Style="margin-right: 10px;" /> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
