@*
 * FILE: AdminLayout.razor
 * PURPOSE: Layout definition component.
 * COMMUNICATES WITH: None
*@
@inherits LayoutComponentBase
@using Radzen.Blazor

<RadzenComponents />


<RadzenLayout Style="grid-template-areas: 'rz-header rz-header' 'rz-sidebar rz-body';">
    <AdminLayoutUI />

    <RadzenBody>
        <RadzenStack Class="rz-p-4">
            @Body
        </RadzenStack>
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    // No code needed here as AdminLayoutUI handles the sidebar state
}

