@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <HMS.Web.Components.Shared.NotificationPanel />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<RadzenDialog @rendermode="InteractiveServer" />
<RadzenNotification @rendermode="InteractiveServer" />
<RadzenTooltip @rendermode="InteractiveServer" />
<RadzenContextMenu @rendermode="InteractiveServer" />
