@inherits LayoutComponentBase
@using Radzen.Blazor

<RadzenComponents />


<RadzenLayout Style="grid-template-areas: 'rz-header rz-header' 'rz-sidebar rz-body';">
    <MainLayoutUI />

    <RadzenBody>
        <RadzenStack Class="rz-p-4">
            @Body
        </RadzenStack>
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    // UI state handled by MainLayoutUI
}
