@*
 * FILE: SimpleLayout.razor
 * PURPOSE: Layout definition component.
 * COMMUNICATES WITH: None
*@
@inherits LayoutComponentBase
@using Radzen.Blazor

<RadzenComponents />

<RadzenLayout>
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

